* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    font-family: 'Courier New', Courier, monospace;
    color: #222222;
}

input {
    display: block;
    border-style:solid;
    border-width: 1px;
    border-color: #222222;
    margin-bottom: 10px;
}

select {
    display: block;
    border-style:solid;
    border-width: 1px;
    border-color: #222222;
    margin-bottom: 10px;
}

.pcontainer {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 100px;
    max-width:200px;
}

p {
    margin: 20px;
}